---
---

.student_pictures {
    display: flex;
    background-color: grey;
    justify-content: center;
  }
  
  .student_pictures img {
    width: 300; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 50px; /* Adjust spacing between images */
  }