---
---

.student_pictures {
    display: flex;
    background-color: white;
    justify-content: center;
  }
  
  .student_pictures img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Maintain aspect ratio */
    margin-right: 50px; /* Adjust spacing between images */
  }